{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<style>
    .btn-xl {
        padding: 10px 20px;
        font-size: 20px;
    }

    .btn {
        padding: 10px !important;
    }

</style>
{# Display a form #}
<div class="jumbotron mb-0 bg-light">
    <h1 class="display-4">Todas as Jaulas</h1>
    <a class="btn btn-primary btn-xl" href="{% url 'new_cage' %}" role="button">+ NOVA JAULA</a>
    <a class="btn btn-success btn-xl" href="{% url 'stats' %}" role="button">ESTATÍSTICAS</a>

</div>

<div class="p-5">
    <div class="row d-flex flex-row flex-wrap">
        {% for cage in cages %}
            <div class="col">
                <div class="card bg-light m-2" style="width: 18rem;">
                    {#                    <img src="..." class="card-img-top" alt="...">#}
                    <div class="card-body">
                        <h1 class="card-title">{{ cage.cage_id }}</h1>
                        {% if new_cage_id == cage.cage_id %}
                            <h6 class="card-title">(NOVO)</h6>
                        {% else %}
                            <br>
                        {% endif %}

                        <a href="{% url 'individual_cage' cage.cage_id %}" class="btn btn-primary">Ver Jaula</a>
                        <a href="{% url 'delete_cage' cage.cage_id %}" class="btn btn-danger">APAGAR</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

