{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<div class="jumbotron">
    <h1 class="display-4">Todas as Jaulas</h1>
    <a class="btn btn-primary btn-lg" href="{% url 'new_cage' %}" role="button">+ nova jaula</a>

</div>

<div class="p-5">
    <div class="row d-flex flex-row flex-wrap">
        {% for cage in cages %}
            <div class="col">
                <div class="card bg-light m-2" style="width: 18rem;">
                    {#                    <img src="..." class="card-img-top" alt="...">#}
                    <div class="card-body">
                        <h5 class="card-title">{{ cage.cage_id }}</h5>
                        {% if new_cage_id == cage.cage_id %}
                            <h6 class="card-title">(NOVO)</h6>
                        {% else %}
                            <br>
                        {% endif %}

                        <p class="card-text">asdasdasdsad</p>
                        <a href="{% url 'individual_cage' cage.cage_id %}" class="btn btn-primary">Ver Jaula</a>
                        <a href="{% url 'delete_cage' cage.cage_id %}" class="btn btn-danger">APAGAR</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

