{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load filters %}
<style>
    .btn-xl {
        padding: 10px 20px;
        font-size: 20px;
    }

    .btn {
        padding: 10px !important;
    }

</style>
{# Display a form #}
<div class="jumbotron mb-0 bg-light">
    <h1 class="display-4">Estatísticas</h1>
    <a class="btn btn-success btn-xl" href="{% url 'all_cages' %}">VOLTAR ATRÁS</a>

</div>


<div class="table-responsive container m-0">
    <div class="row">

        <div class="col-1">
            <table class="table table-hover table-striped">
                <caption>
                    <span class=""><strong>Total de KGs ano e mês</strong></span>
                </caption>
                <thead>
                <tr>
                    <th scope="col">Ano</th>
                    <th scope="col">Mês</th>
                    <th scope="col">kg alimento mês</th>
                    <th scope="col">kg alimento dia</th>

                </tr>
                </thead>
                <tbody>

                {% for year, months in total_kgs.items %}
                    {% for monthname, monthkgs in months.items %}
                        <tr>
                            <td>{{ year }}</td>
                            <td>{{ monthname }}</td>
                            <td>{{ monthkgs }}</td>
                            <td>{{ monthkgs|divide_by_30 }}</td>

                        </tr>
                    {% endfor %}
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

</div>


<div class="p-5">
    <div class="row d-flex flex-row flex-wrap">
        {% for year in total_kgs %}

        {% endfor %}
    </div>
</div>


<form method="post" novalidate>
  {% csrf_token %}
  {{ form }}
  <button type="submit">Submit</button>
</form>

