{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load filters %}
<style>
    .btn-xl {
        padding: 10px 20px;
        font-size: 20px;
    }

    .btn {
        padding: 10px !important;
    }

    td, th {
        text-align: center;
        vertical-align: middle !important;

    }

    .col {
        height: 20em;
        overflow-y: auto;
    }

    select {
        width: auto !important;
    }

</style>
{# Display a form #}
<div class="jumbotron mb-0 bg-light">
    <h1 class="display-4">Estatísticas</h1>
    <a class="btn btn-success btn-xl" href="{% url 'all_cages' %}">VOLTAR ATRÁS</a>

</div>


<div class="container">
    <div class="row">
        <div class="col">
            <caption>
                <strong>Total de KGs ano e mês</strong>
            </caption>
            <table class="table table-hover table-responsive table-striped">

                <thead>
                <tr>
                    <th scope="col">Ano</th>
                    <th scope="col">Mês</th>
                    <th scope="col">kg alimento mês</th>
                    <th scope="col">kg alimento dia</th>
                </tr>
                </thead>
                <tbody>

                {% for year, months in total_kgs.items %}
                    {% for monthname, monthkgs in months.items %}
                        <tr>
                            <td>{{ year }}</td>
                            <td>{{ monthname }}</td>
                            <td>{{ monthkgs }}</td>
                            <td>{{ monthkgs|divide_by_30 }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}

                </tbody>
            </table>
        </div>


        <div class="col">
            <form class="d-flex flex-wrap flex-column pt-5 justify-content-center align-items-center" method="post"
                  novalidate>
                {% csrf_token %}
                {{ form }}
                <input class="btn btn-primary m-2" type="submit" value="ATUALIZAR TABELA">

            </form>
            <caption>
                <span class=""><strong>Previsões de Venda</strong></span>
            </caption>
            <table class="table table-hover table-responsive table-striped">

                <thead>
                <tr>
                    <th>Ano</th>
                    <th>Mês</th>
                    <th>Número de Peixes</th>
                    <th>Biomassa</th>

                </tr>
                </thead>
                <tbody>

                {% for year, months in predictions.items %}
                    {% for monthname, data in months.items %}
                        {% if not data.biomassa == 0 %}
                            <tr>
                                <td>{{ year }}</td>
                                <td>{{ monthname }}</td>
                                <td>{{ data.num_peixes }}</td>
                                <td>{{ data.biomassa }}</td>

                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <div class="row"><br><br></div>
    <div class="row mb-5">
        <div class="col">
            <caption>
                <span class=""><strong>Distribuição geral de tamanhos</strong></span>
            </caption>
            <table class="table table-hover table-responsive table-striped">

                <thead>
                <tr>
                    <th scope="col">Ano</th>
                    <th scope="col">Mês</th>
                    <th scope="col">0-10</th>
                    <th scope="col">10-50</th>
                    <th scope="col">50-100</th>
                    <th scope="col">100-200</th>
                    <th scope="col">200-350</th>
                    <th scope="col">350-500</th>
                    <th scope="col">500-600</th>
                    <th scope="col">600-700</th>
                    <th scope="col">700-1</th>
                    <th scope="col">1-1,5</th>
                </tr>
                </thead>
                <tbody>

                {% for year, months in fish_weight_distribution.items %}
                    {% for monthname, distribution in months.items %}
                        <tr>
                            <td>{{ year }}</td>
                            <td>{{ monthname }}</td>
                            {% for range, range_data in distribution.items %}
                                {% if not forloop.last %}
                                    {% if range_data == 0 %}
                                        <td>-</td>
                                    {% else %}
                                        <td>{{ range_data }}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                        </tr>
                    {% endfor %}
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

</div>


